body {
    display: flex;
    flex-direction: column;
    overflow: visible !important;
    padding-right: 0px !important;
}

header {
    height: 75px;
    width: 100%;
    background-color: #971760;
    background-image: url(../images/UI/banner.jpg);
    background-position-x: center;
    background-size: auto 75px;
}

nav {
    background-color: #ffe1a8;
}

.nav-link {
    background-color: #ffffff;
    margin: 2px;
    border-radius: 3px;
    color: black;
    font-size: larger;
}

main {
    width: 100%;
    height: 100%;
    background-color: #723d46;
}

aside {
    float: left;
    width: 25%;
    padding: 1%;
    background-color: #c9cba3;
    border-radius: 2px;
    margin: 1%;
    height: 100%;
    color: black;
}

article {
    width: 70%;
    margin: 1%;
    float: right;
    background-color: #e26d5c;
    padding: 1%;
    border-radius: 2px;
    height: 100%;
}

footer {
    background-color: #472d30;
}

h1 {
    color: black;
    font-weight: bold;
}

h2{
    color: #0a0b0f;
}

.socicon {
    height: 64px;
    padding: 0%;
}

#logoimg {
    height: 64px;
}

.foot-link {
    color: black;
    font-size: large;
    padding: 2%;
}

main>div {
    width: fit-content;
    height: fit-content;
    float: left;
}

#mainContent {
    align-content: center;
    margin: 1%;
    background-color: #e26d5c;
    padding: 1%;
    border-radius: 5px;
    height: 100%;
    width: 98%;
}

a {
    text-align: center;
    display: block;
    color: white;
    font-weight: bolder;
    font-size: larger;
}

p{
    text-align: justify;
    color: black;
}

a:hover {
    color: #fcba03;
}

footer a{
    display: inline;
}

footer a:hover{
    color: white;
}

@media only screen and (max-width: 575.5px) {

    .navbar-nav {
        width: 100%;
    }

    aside {
        border-radius: 0;
        margin: 0;
        float: none;
        width: 100%;
    }

    article {
        border-radius: 0;
        margin: 0;
        width: 100%;
        float: none;
    }
    
    #mainContent{
        border-radius: 0;
        margin: 0;
        width: 100%;
        float: none;
    }
}