body {
    display: flex;
    flex-direction: column;
}

header {
    height: 100px;
    width: 100%;
    background-color: #971760;
}

nav {
    background-color: #fcba03;
}

.nav-link {
    background-color: #ffffff;
    margin: 2px;
    border-radius: 3px;
    color: black;
    font-size: larger;
}

main{
    background-color: #ff8f87;
    height: 700px;
    padding: 5%;
    
}

aside{
    background-color: #731a2d;
    float: left;
    width: 30%;
    padding: 1%;
    border-radius: 2px;
}

article{
    float: right;
    width: 65%;
    text-align: left;
    background-color: #974975;
    padding: 1%;
    border-radius: 2px;
}

footer{
    background-color: #ffbd80;
}

.socicon{
    height: 16px;
    padding: 0%;
}

#logoimg {
    height: 64px;
}

@media only screen and (max-width: 575.5px){
    
    .navbar-nav {
        width: 100%;
    }

}


