.visualMedia {
    width: 40%;
    float: left;
    border-radius: 25px;
    min-height: 100%;
}

main section {
    float: right;
    padding: 0px 20px 2%;
    width: 60%;
    height: 100%;
}

main section * {
    font-size: calc(17px + 0.9vw);
}

.head {
    display: inline-block;
    margin: 5px;
    min-height: 125px;
}

main article {
    width: 100%;
    padding: 15px;
    text-align: left;
    min-width: 40%;
}

.sectionTextLeft {
    padding: 0px 20px 2% 0px;
}

.sectionTextRight {
    padding: 0px 0px 2% 20px;
}

main article *, .sectionText > * {
    font-size: calc(13px + .5vw);
}

.defaultFont {
    font-size: 1.5em;
}

@media only screen and (max-width: 575.5px) {
    .visualMedia {
        box-sizing: border-box;
        margin: 9px;
        border-radius: 5px;
        width: calc(100% - 18px);
        float: none;
    }
    main article *, .sectionText > * {
        font-size: calc(15px + .4vw);
    }
    main section {
        margin-top: 20px;
        width: 100%;
    }
    main section * {
        font-size: calc(15px + 1vw);
        text-align: center;
        margin-bottom: 20px;
    }
    .sectionTextLeft, .sectionTextRight {
        padding: 0px 20px 2%;
    }
}