.gameblock {
    margin: 5px;
}

.gameimg {
    border-radius: 5px;
    width: 420px;
}

@media only screen and (max-width: 575.5px) {
    .gameimg{
        width: 100%;
    }

    .gameblock{
        width: 100%;
    }
}