#chart {
    background-color: transparent;
}

center{
    width: 75%;
}

#mainContent p {
    font-size: large;
}

@media only screen and (max-width: 575.5px) {
    #chart {
        background-color: transparent;
    }

    center{
        width: 100%;
    }
}