aside {
    transition: all .2s cubic-bezier(.21,.91,.22,.97);
    float: left;
    width: 31%;
    padding: 1%;
    background-color: #c9cba3;
    border-radius: 2px;
    margin: 1%;
    height: 100vh;
    color: black;
}

article {
    transition: all .2s cubic-bezier(.21,.91,.22,.97);
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 65%;
}

#fillText {
    margin: 1% 0%;
    flex-grow: 1;
}

#fillText::before {
    min-height: 0;
    height: calc(50% - (9px + 1.5vw) / 2);;
    vertical-align: middle;
    content: '';
    display: inline-block;
}

#fillText > p {
    top:50%;
    color: white;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    font-size: calc(9px + 1.5vw);
    display: inline-block;
    vertical-align: middle;
    margin: auto;
    width: 100%;
}

aside h2 {
    font-size: calc(16px + .5vw);
}

aside p {
    font-size: calc(14px + .2vw);
}

@media only screen and (max-width: 1000px) {
    
    aside, article {
        transition: all .2s cubic-bezier(.21,.91,.22,.97);
        box-sizing: border-box;
        vertical-align: middle;
        margin: 1%;
        float: none;
        width: calc(98%);
        height: fit-content;
    }

    #fillText::before {
        height: 0;
        content: none;
    }

}

@media only screen and (min-width: 1150px) {

    #fillText::before {
        content: none;
    }

}