#pixTable {
    display: table;
    margin: 20px 0;
}

#pixTable .col > * {
    text-align: center;
    vertical-align: middle;
    margin: auto;
}

#pixTable img {
    width: 256px;
    height: 256px;
    margin: 10px auto;
}

#pixTable .col > div {
    padding: 3.75px;
    width: min-content;
    height: 100%;
    box-shadow: none;
    background-color: #e26d5c;
    transition: all .3s ease-in-out;
    border-radius: 10px;
}

#pixTable .col > div:hover {
    box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.2);
    background-color: #c86050;
    transition: all .3s ease-in-out;
}

#pixTable .col {
    width: 450px;
    height: 425px;
}

#pixTable h2 {
    font-size: calc(20px + .5vw);
    margin: 0;
}

#pixTable h4 {
    font-size: calc(16px + .5vw);
    margin: 0;
}

@media only screen and (max-width: 575.5px) {
    #pixTable .col {
        width: 100%;
        min-height: 300px;
    }

    #pixTable img {
        width: calc(192px + 10.5vw);
        height: calc(192px + 10.5vw);
        margin: calc(5px + 0.1vw) auto;
    }

    #pixTable .col {
        height: 375px;
    }

}